/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  background-color: #f1f5f9;
  /* Slate-100 */
  color: #1e293b;
  /* Slate-800 */
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

:host {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  background: #f4f6f8;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  margin-bottom: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

h1 {
  color: #2c3e50;
  margin: 0;
}

/* CARDS */
.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dashboard-grid {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.kpi {
  flex: 1;
  text-align: center;
  border-left: 5px solid #3498db;
}

.kpi.success {
  border-left-color: #27ae60;
}

.kpi h3 {
  margin: 0;
  color: #7f8c8d;
  font-size: 0.9rem;
}

.kpi-value {
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
  margin: 10px 0;
}

/* FORM */
.form-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr auto;
  gap: 10px;
  align-items: center;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary {
  background: #3498db;
  color: white;
}

.btn-primary:hover {
  background: #2980b9;
}

.btn-warning {
  background: #e67e22;
  color: white;
  font-size: 1.1rem;
  padding: 15px 30px;
}

.btn-secondary {
  background: #95a5a6;
  color: white;
}

.actions {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

/* TABELA */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background: #f8f9fa;
  color: #2c3e50;
}

.badge {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: bold;
  background: #eee;
}

.badge.pendente {
  background: #ffeaa7;
  color: #d35400;
}

.badge.ok {
  background: #55efc4;
  color: #00b894;
}